{%load static%}
<head>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>    
    <link rel = "stylesheet" href="{% static 'css/project_402.css'%}">
    <script src = "{%static 'js/dist/project_402.dist'}"></script>
</head>

<body style="margin:0">
    <div id ="project_402_12345678"></div>
    <script type = "module">
        import{Project_402} from "{%static 'js/dist/project_402.dist'}";//Òþ²ØÔ´´úÂë//
        $(document).ready(function(){
            let project_402 = new Project_402("project_402_12345678");
        });
    </script>    
<body>